body { 
    font-family: sans-serif;
    background-color: #ffffff;
    color: #64747c;
}

table.canopy {
    background-color: #ffffff;
    width=50%;
    margin-top:15%;
    margin-left:auto;
    margin-right:auto;
    /* border: 1px solid #eef0e3;*/
    padding: 25px;
    vertical-align: middle;
}    

a {
    text-decoration:none;
    color:#64747c;
}

td.links { 
    color: #64747c;
    font-size: 1.1em;
    font-weight: bold;
}

td.content {
    background-color: #ffffff;
    text-align: left;
    margin: 15px;
    border: 10px solid #ffffff;
}

